* {
    margin: 0;
}

body {
    background: #141414;
}

#profile-image {
    width: 30px;
    height: 30px;
}

.profile-button {
    margin-right: 40px;
    background: transparent;
    border: none;
    color: white;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
}

.profile-button:hover {
    color: lightgray;
    text-decoration: none;
    border-radius: 0px;
    background: transparent;
}

.bg-color {
    background: #141414;
}

.kids-text {
    text-align: center;
    color: white;
    margin-right: 20px;
    margin-bottom: 2px;
}

.search-icon {
    margin-right: 20px;
    margin-bottom: 5px;
}

.bell-icon {
    margin-bottom: 5px;
    margin-right: 5px;
}

.tv-shows {
    display: flex;
    align-items: center;
    color: white;
}

.genres-button {
    margin-left: 30px;
}